*, 
*::before, 
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #A14A85;
  font-family: 'Raleway', sans-serif;
}

body.pink {
  background-color: #A14A85;
}

body.blue {
  background-color: #257CBA;
}

body.green {
  background-color: #236343;
}

/* color scheme picker */
header {
  margin-top: 15px;
  height: 30px;
}

header, 
.players, 
.chooseColor {
  display: flex;
  justify-content: center;
}

.players, 
.chooseColor {
  vertical-align: middle;
  line-height: 30px;
  font-size: 20px;
  margin-right: 20px;
}

.color, 
.number,
.shape,
.shape.square {
  height: 25px;
  width: 30px;
  margin: 5px;
  border: 2px solid #000000;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  line-height: 21px;
  user-select: none;
  transition: transform 0.2s;
}

.shape {
  background: #ffffff;
}

.color:hover,
.number:hover,
.shape:hover {
  transform: scale(1.2);
}

.number.active {
  font-weight: 700;
  background: rgba(255,255,255,0.5)
}

.shape.curved {
  border-radius: 10px;
  border: none;
}

#blue {
  background: #257CBA /*#7DC7FB; */
}

#pink {
  background: #A14A85/*#E6AED4*/
}

#green {
  background: #236343 /*#77E6B8;*/ 
}

h1 {
  margin-top: 15px;
  font-size: 2.5rem;
}

.board {
  margin-top: 25px;
/*   width: 399px;
  height: 399px; */
  border: 2px solid #000000;
  font-size: 132px;
  font-weight: 200;
  text-align: center;
  vertical-align: middle;
  line-height: 133px;
  user-select: none;
  position: relative;
  display: grid;
  grid-template-areas:
    "one   two   three"
    "four  five  six"
    "seven eight nine"
}

.block {
  height: 133px;
  width: 133px;
  border: 2px solid #000000;
  background-color: #ffffff;
  cursor: pointer;
}

/* add curved edges to theme */
body.pink .curvedEdge{
  border-color: #A14A85;
}

body.blue .curvedEdge{
  border-color: #257CBA;
}

body.green .curvedEdge{
  border-color: #236343;
}

.block.curvedEdge {
  border-radius: 10px;
  border-width: 3px;
}



.strike{
  position: absolute;
  visibility: hidden;
  border: 3px solid #000000;
/*   visibility: visible !important; */
  opacity: 0.7;
}

body.pink .strike {
  border-color: #612D50;
}

body.blue .strike {
  border-color: #134161;
}

body.green .strike {
  border-color: #18452E;
}


.strike.win123,
.strike.win456,
.strike.win789 {
  left: 25px;
  right: 25px;
}

.strike.win123 {
  top: 66px;
}

.strike.win456 {
  top: 198px;
}

.strike.win789 {
  bottom: 66px;
}

.strike.win147,
.strike.win258,
.strike.win369 {
  top: 25px;
  bottom: 25px;
}

.strike.win147 {
  left: 66px;
}

.strike.win258 {
  left: 198px;
}

.strike.win369 {
  right: 66px;
}

.strike.win159,
.strike.win357{
  top: calc(50% - 3px);
  left: -30px;
  right: -30px;
  transform-origin: center;
}

.strike.win159 {
  transform: rotate(45deg); 
}

.strike.win357 {
  transform: rotate(-45deg);
}

#one {
  grid-area: one;
}

#two {
  grid-area: two;
}

#three {
  grid-area: three;
}

#four {
  grid-area: four;
}

#five {
  grid-area: five;
}

#six {
  grid-area: six;
}

#seven {
  grid-area: seven;
}

#eight {
  grid-area: eight;
}

#nine {
  grid-area: nine;
}

.block:hover {
  background: #d3d3d3;
}

body.pink .block:hover {
  background: #E6AED4;
}

body.blue .block:hover {
  background:#7DC7FB;
}

body.green .block:hover {
  background:rgba(255,255,255,0.5);
}

.controls {
  width: 399px;
  height: 133px;
  text-align: center;
}

.reset {
  padding: 0.5rem 2rem;
  text-align: center;
  margin: 10px auto;
  width: auto;
  height: fit-content;
  border: none;
  background: #000000;
  color: #ffffff;
  border-radius: 2.5rem;
/*   margin-block: 2.5rem; */
  cursor: pointer;
  border: 1px solid transparent;
  transition: transform 0.2s;
  display: inline-block;
}

.reset:hover {
  transform: scale(1.2);
  
}

#winner {
  text-align: center;
  width: fit-content;
  margin: 0 auto;
  height: fit-content;
  border: none;
  margin-block: 2.5rem;
  font-size: 2.5rem;
  font-weight: 700;
}

.popup.invisible {
  display: none;
}
.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right:0;
  background: rgba(255,255,255,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupText {
  width: 100%;
  max-width: 300px;
  background: #eeeeee;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.2)
}

.popupText .winnerText{
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 10px;
}

#forest-ext-shadow-host {
  border: none;
}